<odoo>
    <record id="action_fleet" model="ir.actions.act_url">
        <field name="name">Operación · Steps Tracker</field>
        <field name="url">/web_tracker/#live</field>
        <field name="target">new</field>
    </record>
    <record id="action_control" model="ir.actions.act_url">
        <field name="name">Control de flota</field>
        <field name="url">/web_tracker/#fleet</field>
        <field name="target">new</field>
    </record>
    <record id="action_protection" model="ir.actions.act_url">
        <field name="name">Steps Protección</field>
        <field name="url">/web_tracker/#protection</field>
        <field name="target">new</field>
    </record>
    <menuitem id="menu_fleet" name="Mapa de flota" parent="step_tracker_odoo.menu_step_tracker_gps_root" action="action_fleet" sequence="2" groups="step_tracker_portal.group_tracker_viewer,base.group_system"/>
    <menuitem id="menu_control" name="Control de flota" parent="step_tracker_odoo.menu_step_tracker_gps_root" action="action_control" sequence="3" groups="step_tracker_portal.group_tracker_viewer,base.group_system"/>
    <menuitem id="menu_protection" name="Protección" parent="step_tracker_odoo.menu_step_tracker_gps_root" action="action_protection" sequence="4" groups="step_tracker_portal.group_tracker_viewer,base.group_system"/>
</odoo>
